<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='static/assets/images/favicon.png')}}">

    <link rel="stylesheet" href="{{ url_for('static',filename='assets/node_modules/bootstrap/css/bootstrap.min.css') }}"/>


    <link rel="stylesheet" href="{{ url_for('static',filename='html/css/style.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='html/css/colors/default.css') }}"/>
   <title>Hospital Information System</title>


    <!-- Favicon icon -->
{#    <link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/images/favicon.png">#}

{#    <!-- Bootstrap Core CSS -->#}
{#    <link href="../../static/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
{#    <!-- Custom CSS -->#}
{#    <link href="../../static/html/css/style.css" rel="stylesheet">#}
{#    <!-- You can change the theme colors from here -->#}
{#    <link href="../../static/html/css/colors/default.css" id="theme" rel="stylesheet">#}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header card-no-border fix-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Hospital/p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../../static/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../../static/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="../../static/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->
                         <img src="../../static/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <div class="nav-item dropdown u-pro">

                                <a class="nav-link dropdown-toggle waves-effect waves-dark " href="{{ url_for('auth.welcome') }}">Homepage</a>

                        </div>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href={{ url_for('auth.welcome') }} aria-expanded="false"><i class="fa  fa-hospital-o"></i><span class="hide-menu">Home</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href={{ url_for('auth.welcome') }} aria-expanded="false"><i class="fa fa-user-md"></i><span class="hide-menu">Profile</span></a>
                        </li>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
        <div class="container" style="text-align: center" id="login">
        <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="login">

            <h2>Login</h2>
            <!-- Loging form -->
                  <form method="post">
                    <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputEmail1" name="ID" placeholder="Enter ID">
                    </div>

                    <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                    </div>
                           <br>
                    <button type="submit" class="btn btn-lg btn-block btn-success">Sign in</button>
                  </form>

             <!-- End Loging form -->
              </div>
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ message }}
                </div>
            {% endfor %}

        </div>
        </div>
    </div>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->

     <script src="{{url_for('static', filename='assets/node_modules/jquery/jquery.min.js')}}" ></script>
     <script src="{{url_for('static', filename='assets/node_modules/bootstrap/js/popper.min.js')}}" ></script>
     <script src="{{url_for('static', filename='assets/node_modules/bootstrap/js/bootstrap.min.js')}}" ></script>

     <script src="{{url_for('static', filename='html/js/perfect-scrollbar.jquery.min.js')}}" ></script>
     <script src="{{url_for('static', filename='html/js/waves.js')}}" ></script>
     <script src="{{url_for('static', filename='html/js/sidebarmenu.js')}}" ></script>
     <script src="{{url_for('static', filename='html/js/custom.min.js')}}" ></script>

{#    <script src="../../static/assets/node_modules/jquery/jquery.min.js"></script>#}
{#    <!-- Bootstrap tether Core JavaScript -->#}
{#    <script src="../../static/assets/node_modules/bootstrap/js/popper.min.js"></script>#}
{#    <script src="../../static/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>#}
{#    <!-- slimscrollbar scrollbar JavaScript -->#}
{#    <script src="../../static/html/js/perfect-scrollbar.jquery.min.js"></script>#}
{#    <!--Wave Effects -->#}
{#    <script src="../../static/html/js/waves.js"></script>#}
{#    <!--Menu sidebar -->#}
{#    <script src="../../static/html/js/sidebarmenu.js"></script>#}
{#    <!--Custom JavaScript -->#}
{#    <script src="../../static/html/js/custom.min.js"></script>#}
</body>

</html>