<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->


    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='static/assets/images/favicon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/node_modules/bootstrap/css/bootstrap.min.css') }}"/>
    <title>Hospital Information System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='html/css/style.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static',filename='html/css/rmodal-no-bootstrap.css') }}"/>
<title>Hospital Information System</title>
      <script src="{{url_for('static', filename='html/js/rmodal.js')}}" ></script>
{#    <link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/images/favicon.png">#}
{#    <title>Hospital Information System</title>#}
{#    <!-- Bootstrap Core CSS -->#}
{#    <link href="../../static/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">#}
{#    <!-- Custom CSS -->#}
{#    <link href="../../static/html/css/style.css" rel="stylesheet">#}
{#    <!-- You can change the theme colors from here -->#}
{#    <link href="../../static/html/css/colors/default.css" id="theme" rel="stylesheet">#}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <link rel="stylesheet" href="../../static/html/css/rmodal-no-bootstrap.css" type="text/css" />
    <script type="text/javascript" src="../../static/html/js/rmodal.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            var schedule = new RModal(document.getElementById('schedule'), {
                beforeOpen: function(next) {
                    console.log('beforeOpen');
                    next();
                }
                , afterOpen: function() {
                    console.log('opened');
                }

                , beforeClose: function(next) {
                    console.log('beforeClose');
                    next();
                }
                , afterClose: function() {
                    console.log('closed');
                }
            });

            var dateAdd = new RModal(document.getElementById('dateAdd'), {
                beforeOpen: function(next) {
                    console.log('beforeOpen');
                    next();
                }
                , afterOpen: function() {
                    console.log('opened');
                }

                , beforeClose: function(next) {
                    console.log('beforeClose');
                    next();
                }
                , afterClose: function() {
                    console.log('closed');
                }
            });

            document.addEventListener('keydown', function(ev) {
                schedule.keydown(ev);
                dateAdd.keydown(ev);
            }, false);

            var event =[];
            event= document.getElementsByName('showSchedule');
            for(var i=0;i<event.length;i++){
                event[i].addEventListener("click", function(ev) {
                    ev.preventDefault();
                    schedule.open();
                }, false);
            }

            document.getElementById('showAddDate').addEventListener("click", function(ev) {
                ev.preventDefault();
                dateAdd.open();
            }, false);

            window.schedule = schedule;
            window.dateAdd = dateAdd;
        }

        function jumpSchedule(e) {
            var i=e;
            var nurseschedule=document.getElementById("nurseschedule")
            var id = nurseschedule.rows[i].cells[1].innerHTML;//patient ID
            var name=nurseschedule.rows[i].cells[2].innerHTML;
            console.log(id);
            console.log(name)
            document.getElementById("nurse-id").value=id;
            document.getElementById("nurse-name").value=name;

            $.ajax({
                url: "{{ url_for('nurse.getschedule') }}", //请求的url
                type: 'post', //请求的方式
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(id),
                //dataType : 'json',
                error:function (data) {
                    alert('查询失败');
                },
                success:function (data) {
                    console.log(data)
                    var row=1
                    for (var i in data){
                        str=
                        "<tr>"+ "<th>"+row+"</th>"+
                        "<th>"+data[i].startDate+"</th>"+
                        "<th>"+data[i].endDate+"</th>"+
                        "</tr>";
                        $("#datetable").append(str);
                        row=row+1;
                    }
                }
            });
        }

        function addDate() {
            var tableDom = document.getElementById("datetable");
            var rows = tableDom.rows;
            var rowid = rows.length;

            var dateFrom=document.getElementById("add-from").value;
            var dateTo=document.getElementById("add-to").value;

            str=
                    "<tr>"+
                    "<th>"+rowid+"</th>"+
                    "<th>"+dateFrom+"</th>"+
                    "<th>"+dateTo+"</th>"+
                    "</tr>";
            $("#addDate").append(str);
        }

        function sendschedule() {
            var nurseId=document.getElementById("nurse-id").value
            var mytable = document.getElementById("datetable");
            var data_from = [];
            var data_to = [];

            for(var i=1,rows=mytable.rows.length; i<rows; i++){
                    data_from[i-1] = mytable.rows[i].cells[1].innerHTML;
                    data_to[i-1] = mytable.rows[i].cells[2].innerHTML;
            }

            var data={
                 'nurseId': nurseId ,
                 'data_from': data_from,
                 'data_to':data_to
            };

            $.ajax({
                url: "{{ url_for('nurse.scheduleleader') }}", //请求的url
                type: 'post', //请求的方式
                contentType: 'application/json; charset=UTF-8',
                //data: $('#search').serialize(), //form表单里要提交的内容，里面的input等写上name就会提交，这是序列化
                data: JSON.stringify(data),
                //dataType : 'json',
                error:function (data) {

                },
                success:function (data) {

                }
            });
        }

    </script>
</head>

<body class="fix-header card-no-border fix-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Hospital</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="../../static/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../../static/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="../../static/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->
                         <img src="../../static/assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars"></i></a> </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <div class="nav-item dropdown u-pro">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark " href="{{ url_for('doctor.homepage') }}">{{ user.name }}</a>
                                <a class="nav-link dropdown-toggle waves-effect waves-dark " href="{{ url_for('auth.welcome') }}">Logout</a>

                        </div>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href={{ url_for('nurse.homepageleader') }} aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Main</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href={{ url_for('nurse.profile') }} aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href={{ url_for('nurse.scheduleleader') }} aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Schedule</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href={{ url_for('nurse.patientlist') }} aria-expanded="false"><i class="fa fa-smile-o"></i><span class="hide-menu">Inpatient List</span></a>
                        </li>
                    </ul>
<!--                    <div class="text-center m-t-30">
                        <a href="#" class="btn waves-effect waves-light btn-info hidden-md-down"> Upgrade to Pro</a>
                    </div>-->
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-themecolor">Department Schedule</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Department Schedule</li>
                        </ol>
                    </div><!--
                    <div class="col-md-7 align-self-center">
                        <a href="#" class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down"> Upgrade to Pro</a>
                    </div>-->
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Department Schedule</h4>
<!--                                <h6 class="card-subtitle">Add class <code>.table</code></h6-->
                                <div class="table-responsive">
                                    <table class="table" id="nurseschedule">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nurse ID</th>
                                                <th>Nurse Name</th>
                                                <th>Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for nurse in nurseInfo %}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>{{nurse.StaffID}}</td>
                                                <td>{{nurse.name}}</td>
                                                <td>
                                                    <div style="float: left">
                                                    <a onclick="jumpSchedule({{ loop.index }})"name="showSchedule" href="#" class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down">Schedule</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="schedule" class="modal">
                        <div class="modal-dialog animated">
                            <div class="modal-content">
                                <form class="form-horizontal" method="get">
                                    <div class="modal-header">
                                        <strong>Schedule</strong>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div>
                                                <label for="reg-id" class="control-label col-xs-4" style="width: 30%">
                                                    Nurse ID:
                                                </label>
                                                <input type="text" name="nurse-id" id="nurse-id" class="form-control" readonly="readonly" style="width:30%"/>
                                            </div>

                                            <div style="margin-top: 20px">
                                                <label for="reg-name" class="control-label col-xs-4" style="width: 30%">
                                                    Nurse Name:
                                                </label>
                                                <input type="text" name="nurse-name" id="nurse-name" class="form-control" readonly="readonly" style="width:30%"/>
                                            </div>

                                            <div style="margin-top: 20px">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Schedule List</h4>
                                                        <div style="float: left;margin-bottom: 10px">
                                                            <a id="showAddDate" href="#" class="btn waves-effect waves-light btn btn-info pull-right hidden-sm-down">
                                                                Add Working Time
                                                            </a>
                                                        </div>
                                                        <div class="table-responsive">

                                                            <table class="table" id="datetable">
                                                                <thead>
                                                                <tr>
                                                                    <th style="width:10%">#</th>
                                                                    <th style="width:20%">Date From</th>
                                                                    <th style="width:20%">Date To</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="addDate">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-default" type="button" onclick="schedule.close();">Cancel</button>
                                        <button class="btn btn-primary" style="background-color: #20aee3; border-color: #20aee3" type="submit" onclick="schedule.close(); sendschedule()">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="dateAdd" class="modal">
                        <div class="modal-dialog animated">
                            <div class="modal-content">

                                    <div class="modal-header">
                                        <strong>Add Date</strong>
                                    </div>

                                    <div class="modal-body">
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label col-xs-4" style="padding-top: 20px; width:20%">
                                                    Date From:
                                                </label>
                                                <input type="date" name="add-from" id="add-from" class="form-control" style="width: 40%"/>
                                            </div>

                                            <div>
                                                <label class="control-label col-xs-4" style="padding-top: 20px; width:20%">
                                                    Date To:
                                                </label>
                                                <input type="date" name="add-to" id="add-to" class="form-control" style="width: 40%"/>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button class="btn btn-default" type="button" onclick="dateAdd.close();">Cancel</button>
                                        <button class="btn btn-primary" style="background-color: #20aee3; border-color: #20aee3" onclick="dateAdd.close(); addDate()">Save</button>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
         <script src="{{url_for('static', filename='assets/node_modules/jquery/jquery.min.js')}}" ></script>
     <script src="{{url_for('static', filename='assets/node_modules/bootstrap/js/popper.min.js')}}" ></script>
     <script src="{{url_for('static', filename='assets/node_modules/bootstrap/js/bootstrap.min.js')}}" ></script>
     <script src="{{url_for('static', filename='html/js/perfect-scrollbar.jquery.min.js')}}" ></script>
     <script src="{{url_for('static', filename='html/js/waves.js')}}" ></script>
     <script src="{{url_for('static', filename='html/js/sidebarmenu.js')}}" ></script>
     <script src="{{url_for('static', filename='html/js/custom.min.js')}}" ></script>
     <script src="{{url_for('static', filename='assets/node_modules/peity/jquery.peity.min.js')}}" ></script>
     <script src="{{url_for('static', filename='assets/node_modules/peity/jquery.peity.init.js')}}" ></script>
{#    <script src="../../static/assets/node_modules/jquery/jquery.min.js"></script>#}
{#    <!-- Bootstrap tether Core JavaScript -->#}
{#    <script src="../../static/assets/node_modules/bootstrap/js/popper.min.js"></script>#}
{#    <script src="../../static/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>#}
{#    <!-- slimscrollbar scrollbar JavaScript -->#}
{#    <script src="../../static/html/js/perfect-scrollbar.jquery.min.js"></script>#}
{#    <!--Wave Effects -->#}
{#    <script src="../../static/html/js/waves.js"></script>#}
{#    <!--Menu sidebar -->#}
{#    <script src="../../static/html/js/sidebarmenu.js"></script>#}
{#    <!--Custom JavaScript -->#}
{#    <script src="../../static/html/js/custom.min.js"></script>#}
{#    <!-- jQuery peity -->#}
{#    <script src="../../static/assets/node_modules/peity/jquery.peity.min.js"></script>#}
{#    <script src="../../static/assets/node_modules/peity/jquery.peity.init.js"></script>#}
</body>

</html>